@{
    string controller = ViewContext.RouteData.Values["Controller"].ToString();
    string action = ViewContext.RouteData.Values["Action"].ToString();
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@1,600;1,700&family=Bellefair&family=Libre+Bodoni:ital,wght@1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/recipe.css"  asp-append-version="true" />
    <link rel="stylesheet" href="/css/addedit.css" asp-append-version="true">
    <link rel="stylesheet" href="/css/category.css" asp-append-version="true">
    <link rel="stylesheet" href="/lib/font-awesome/css/all.min.css"  asp-append-version="true"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ms-5" href="/">RECIPES</a>
    <button class="navbar-toggler" type="button"
    data-bs-toggle="collapse" data-bs-target="navbarSupportedContent" aria-expanded="false"
    arial-label="Toggle navigation" aria-controls="navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <nav class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav">
            <a class="nav-item nav-link @(action == "Index" && controller == "Recipe" ? "active" : "")" href="/">Home</a>
            <a class="nav-item nav-link @(controller == "Category" ? "active" : "")" asp-action="Index" asp-controller="Category">Categories</a>
            <a class="nav-item nav-link @(controller == "Favorite" ? "active" : "")" asp-action="Index" asp-controller="Favorite">Favorites</a>
        </div>
    </nav>
</nav>
<main>
    <my-temp-message />
    @RenderBody()
</main>

@RenderSection("scripts", false)

</body>
</html>