@model IEnumerable<Recipe>
@{
    ViewData["Title"] = "Favorite";
}

<div class="table-favorites-container">

<table class="table table-bordered table-striped text-center">
    <thead>
        <tr><th>FAVORITES</th><th>RATING</th></tr>
    </thead>
    <tbody>
        @foreach(Recipe recipe in Model) {
            <tr>
                <td><a asp-controller="Recipe" asp-action="Details"
                        asp-route-id="@recipe.RecipeID" 
                        asp-route-slug="@recipe.Name.Slug()">@recipe.Name</a></td>
                <td>@recipe.Rating</td>
                <td>
                    <form asp-action="Remove" method="post">
                        <button type="submit" class="btn btn-warning"
                        name="id" value="@recipe.RecipeID">Remove</button>
                    </form>
                </td>
            </tr>
        }    
    </tbody>
</table>
</div>

